<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:url" content="http://www.people-of-bart.com">
    <meta name="og:title" content="People of BART">
    <meta name="og:image" content="http://<%=ENV['CLOUDFRONT_URL'] %>/people-of-bart6.jpg">

    <title>People of BART</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/flash' %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <div id="fb-root"></div>
  </body>
  <%= render 'shared/google_analytics' %>
</html>
